/* Reset styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    position: relative;
    background-color: #333;
}

nav {
    background-color: #333;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 10px;
}

nav a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
}

nav a:hover {
    color: #ff6600;
}

.brand {
    color: #ddd;
    font-size: 1.2em;
    font-weight: bold;
    margin-right: auto; /* Pushes the brand to the left */
}

.developer {
    color: #ddd;
    margin-left: auto;
    margin-right: 50px; /* Pushes the "Developed by" text to the right */
}


header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

header h1 {
    margin-bottom: 10px;
}

main {
    padding: 20px;
}

.contact-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.form-group textarea {
    resize: vertical;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #555;
}

.footer-contact {
    color: #ffffff;
    font-weight: bold;
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.footer-contact:before {
    content: "";
    position: absolute;
    left: -25px;
    top: 6px;
    width: 20px;
    height: 20px;
    background-size: cover;
}

.footer-contact:last-child:before {
    left: -30px;
}

/* Adjust the background images as needed */
.footer-contact:nth-child(1):before {
    background-image: url('phone-icon.png');
}

.footer-contact:nth-child(2):before {
    background-image: url('email-icon.png');
}

/* Footer */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
